<!DOCTYPE html>
<html lang="en" >
<head>
  <meta charset="UTF-8">
  <title>Dashboard</title>
  <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.14.0/css/all.min.css'>
  <link rel="stylesheet" href="./dashboard.css">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet">

</head>
<body>
 <!-- root container starts from here -->
<div  id="container">
	<div class="sidebar_container">
		<div class="sidebar_container_img">
			<!-- <img src="../assets/Logo.png" alt=""> -->
			<img src="Logo.png" alt="">
		</div>
		<div class="sidebar_container_info">
			<nav class="navbar sidebar_button_container">
				<div class="container-fluid sidebar_button_container_info">
				  <ul class="navbar-nav navbar_nav">
					<li class="nav-item dashboard_button">
					  <a class="nav-link" id="nav_link" href="#">Dashboard</a>
					</li>
					<li class="nav-item sidebar_button">
					  <a class="nav-link nav_link" href="#">Projects</a>
					</li>
					<li class="nav-item sidebar_button">
					  <a class="nav-link nav_link" href="#">Meetings</a>
					</li>
					<li class="nav-item sidebar_button">
					  <a class="nav-link nav_link" href="#">Tasks</a>
					</li>
					<li class="nav-item sidebar_button">
					  <a class="nav-link nav_link" href="#">Messages</a>
					</li>
					<li class="nav-item sidebar_button">
					  <a class="nav-link nav_link" href="#">Documentations</a>
					</li>
					<li class="nav-item sidebar_button">
					  <a class="nav-link nav_link" href="#">Settings</a>
					</li>
					<li class="nav-item sidebar_button">
					  <a class="nav-link nav_link" href="#">Log out</a>
					</li>
				  </ul>
				</div>
			</nav>
	    </div>
	</div>
	<div class="details_container">
		<div class="details_container_info">
			<div class="welcome_container">
				<h1>Welcome <a href="">Mr X</a></h1>
			</div>
			<div class="status_container">
				<h3>Status:</h3>
				<p>Current project: <a href="">xyz</a></p>
				<p>Your team is working on : <a href="">xyz</a></p>
			</div>
			<div class="process_container">
				<h3>Process:</h3>
				<p>Project complete: <a href="">50%</a></p>
			</div>
		</div>
	</div>
</div>

	<!-- javascript attached -->
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>

</body>
</html>
